<h1><%= @youtube_vidoe.title %></h1>

<div class="thumbnail">
  <%= link_to @youtube_vidoe.youtube_video_url, :target => '_blank' do %>
    <%= image_tag @youtube_vidoe.thumbnails.first['url'], :style => 'max-width: 500px' %>
    <%#= image_tag attachments['thumbnails'].url, :style => 'max-width: 500px' %>
  <% end %>
</div>

<div class="description">
  <h2>Description</h2>
  <p><%= raw @youtube_vidoe.description.gsub("\n", "<br>") %></p>
</div>

<div class="tags">
  <h2>Tags</h2>
  <p style='color: grey'><%= @youtube_vidoe.tags.join(', ') %></p>
</div>

<div class="notes">
  <h2>Notes</h2>
  <p>... placeholder ...</p>
</div>
