<% header_style = 'font-size: 1.5em; font-weight: bold; margin-bottom: 8px; margin-top: 20px' %>

<h1><%= @youtube_vidoe.title %></h1>

<div class="thumbnail">
  <%= link_to @youtube_vidoe.youtube_video_url, :target => '_blank' do %>
    <%= image_tag @youtube_vidoe.thumbnails.first['url'], :style => 'max-width: 500px' %>
    <%#= image_tag attachments['thumbnails'].url, :style => 'max-width: 500px' %>
  <% end %>
</div>

<div style='<%= header_style %>'>Description</div>
<div><%= raw @youtube_vidoe.description.gsub("\n", "<br>") %></div>

<div style='<%= header_style %>'>Tags</div>
<div><%= @youtube_vidoe.tags.join(', ') %></div>

<div style='<%= header_style %>'>Notes</div>
<div>
  ... placeholder ...
</div>
